{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="">

        {% if "placeholder" in post.featured_image.url %}
        <img src="# " width="100%">
        {% else %}
        <img src=" {{ treatment.featured_image.url }}" width="100%">
        {% endif %}
    </div>

    <div class="col">
        <div class="row">
            <h1>
                {{ treatment.title }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="card-body">
            <p>
                {{ treatment.description }}
            </p>
        </div>
    </div>
</div>
{% if awaiting_approval %}
    <div class="alert">
        <p>
            Your booking is waiting approval
        </p>
    </div>
{% else %}
{% if user.is_authenticated %}
    <h3>
        Make a booking
    </h3>
    <form action="POST">
        {{ treatment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn">
            Click To Book
        </button>
    </form>
{% endif %}
{% endif %}

{% endblock %}